/*
 * Flex grid
 * 
 * Grid system with variable column widths.
 */



.gp_gridRow.gp_gridFlex {
	/* 2 columns */
	&.gp_gridColumns2 {
		.gp_gridColumn {
			width: 50%;
		}
	}
	
	/* 3 columns */
	&.gp_gridColumns3 {
		.gp_gridColumn {
			width: 33.33%;
		}
		*+html & .gp_gridColumn {
			width: 33.29%;
		}
	}
	
	/* 4 columns */
	&.gp_gridColumns4 {
		.gp_gridColumn {
			width: 25%;
		}
	}
	
	/* 5 columns */
	&.gp_gridColumns5 {
		.gp_gridColumn {
			width: 20%;
		}
	}

	/* Force 1 column */
	.gp_gridColumnClear[class][class] {
		clear: both;
		width: 100%;
	}

    .gp_gridColumn {
        .gp_block {
            margin-left: $gp_gridBlockPadding;
            margin-right: $gp_gridBlockPadding;
        }

        &:first-child .gp_block {
            margin-left: 0;
        }

        &:last-child .gp_block {
            margin-right: 0;
        }
    }
}






/* Alt style for first and last columns */
.gp_gridColumns .gp_gridColumn:first-child .gp_block {
	margin-left: 0;
}

.gp_gridColumns2 .gp_gridColumn2 .gp_block,
.gp_gridColumns3 .gp_gridColumn3 .gp_block,
.gp_gridColumns4 .gp_gridColumn4 .gp_block,
.gp_gridColumns5 .gp_gridColumn5 .gp_block {
	margin-right: 0;
}
