/*
 * CSS reset
 * 
 * Eliminating browser differences as much as possible.
 */



body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,select,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}


/* Start block elements */
html {
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
}

fieldset,
img {
	border: 0;
}

ol,
ul {
	list-style: none;
}

/* HTML5 */
section,
article,
header,
footer,
nav,
aside,
hgroup {
	display: block;
}

table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th {
	text-align: left;
}
/* End block elements */



/* Start basic text styling */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	line-height: $gp_lineHeight;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

em,
cite {
	font-style: italic;
}

strong {
	font-weight: bold;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
}
/* End basic text styling */



/* Start form */
label {
	cursor: default;
}

input,
textarea,
select {
	@include gp_boxSizing;
}

input[type="radio"],
input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 3px;
}
*+html input[type="radio"],
*+html input[type="checkbox"] {
    position: static;
    border-top: 4px solid transparent;
    margin-right: 0;
}
/* End form */
