/*
 * Accordion
 *
 * Accordion widget
 */



.gp_accordion {
	dt {
		font-weight: bold;
	}

	dd + dt {
		padding-top: $gp_paragraphSpacing;
	}
}



.gp_accordion.gp_accordionJavaScript {
	dt {
		cursor: pointer;
		padding: $gp_gridBlockPadding;
		@include gp_linearGradient(darken($gp_colorHigh, 5%), darken($gp_colorHigh, 15%));

	    &:hover {
		    @include gp_linearGradient(darken($gp_colorHigh, 10%), darken($gp_colorHigh, 30%));
		}

	    &.gp_active {
			cursor: default;
		    @include gp_linearGradient(lighten($gp_color1, 20%), darken($gp_color1, 10%));
	    }
	}
	
	dd {
	    padding: $gp_gridBlockPadding;
	}
}
