/*
 * Styling for a horizontal menu
 */



.gp_menu.gp_menu_typeHorizontal {
	.gp_clear;

	> ul > li {
		float: left;
		padding-left: 1px;
	}
	> ul > li:first-child {
		padding-left: 0;
	}
	
	> ul > li > a {
		float: left;
	}
	
	ul {
		display: inline;
	}

	> li {
		display: inline-block;
	}
	
	ul ul {
		display: none;
	}
}
