/*
 * Fixed grid
 * 
 * Mixins specific to the fixed grid system. Credits to Iain van der Wiel.
 */


.gp_colWidth(@colSize) {
    @colsWithMargin: (@gp_gridFixedCols - 1);
    @widthMinusMargin: (@gp_gridWidth - (@colsWithMargin * @gp_gridBlockSpacing));
    @colWidth: @widthMinusMargin / @gp_gridFixedCols;
    @innerMargin: (@colSize - 1) * @gp_gridBlockSpacing;

    width:  @colWidth * @colSize + @innerMargin;
    margin-right: @gp_gridBlockSpacing;
}

#gp_gridSpacing {
    .prepend(@colSize) {
        margin-left: ((@gp_gridWidth / @gp_gridFixedCols) * @colSize);
    }
    
    .append(@colSize) {
        margin-right: ((@gp_gridWidth / @gp_gridFixedCols) * @colSize);
    }
}
