/*
 * Flex grid
 * 
 * Grid system with variable column widths.
 */



.gp_gridRow.gp_gridFlex {
	.gp_gridColumn {
		min-height: 1px;
	}

	/* 1 column */
	&.gp_gridColumns1 {
	    .gp_gridColumn1 {
	        width: 100%;
	    }
	}
	
	/* 2 columns */
	&.gp_gridColumns2 {
		.gp_gridColumn1 {
			width: 50%;
		}
		.gp_gridColumn2 {
			width: 50%;
		}
	}
	
	/* 3 columns */
	&.gp_gridColumns3 {
		.gp_gridColumn1 {
			width: 33.33%;
		}
		.gp_gridColumn2 {
			width: 33.33%;
		}
		.gp_gridColumn3 {
			width: 33.33%;
		}
	}
	
	/* 4 columns */
	&.gp_gridColumns4 {
		.gp_gridColumn1 {
			width: 25%;
		}
		.gp_gridColumn2 {
			width: 25%;
		}
		.gp_gridColumn3 {
			width: 25%;
		}
		.gp_gridColumn4 {
			width: 25%;
		}
	}
	
	/* 5 columns */
	&.gp_gridColumns5 {
		.gp_gridColumn1 {
			width: 20%;
		}
		.gp_gridColumn2 {
			width: 20%;
		}
		.gp_gridColumn3 {
			width: 20%;
		}
		.gp_gridColumn4 {
			width: 20%;
		}
		.gp_gridColumn5 {
			width: 20%;
		}
	}
}






/* Alt style for first and last columns */
.gp_gridColumns .gp_gridColumn:first-child .gp_block {
	margin-left: 0;
}

.gp_gridColumns2 .gp_gridColumn2 .gp_block,
.gp_gridColumns3 .gp_gridColumn3 .gp_block,
.gp_gridColumns4 .gp_gridColumn4 .gp_block,
.gp_gridColumns5 .gp_gridColumn5 .gp_block {
	margin-right: 0;
}
