/*
 * Graphite Flex grid
 * 
 * Extra column styling for Graphite demo website
 */






*.gp_columns_3.gp_columns_3DemoSpecs {
	*.gp_column1 {
		width: 15%;
	}
	*.gp_column2 {
		width: 24%;
	}
	*.gp_column3 {
		width: 61%;
	}
	
	> ul {
	    .gp_clear;
	}
}

*.gp_columns_2.gp_columns_2Alt1 {
	*.gp_column1 {
		width: 65%;
	}
	*.gp_column2 {
		width: 35%;
	}
}

