.gp_menu.gp_menu_typeVertical {
	background: @gp_colorLow;
	
	li {
		border-top: 1px solid @gp_colorHigh;
	}
	> li:first-child,
	li li {
		border-top-width: 0;
	}

	a {
		display: block;
		.transition(all, 1s, ease-out);
		color: @gp_colorHigh;
		text-decoration: none;
		padding: @gridFlex_blockSpacing / 4 @gridFlex_blockSpacing / 2;
	}
	a:hover {
		.transition(all, 0.1s, ease-out);
		background: @gp_colorLow + #444;
	}
	
	ul ul {
		display: none;
	}
	
	li.gp_active > ul {
		display: block;
	}
	
	li.gp_active > a {
		font-weight: bold;
	}

	li.gp_activePage > a {
		background: @gp_colorLow + #555;
	}
	li.gp_activePage > a:before {
		content: "›";
		position: absolute;
		margin: -1px 0 0 -10px;
	}

	li li {
		background: @gp_colorLow + #111;
	}
	
	li li a {
		padding-left: @gridFlex_blockSpacing
	}

	li li li {
		background: @gp_colorLow + #222;
	}

	li li li a {
		padding-left: @gridFlex_blockSpacing * 2
	}

	li li li li {
		background: @gp_colorLow + #333;
	}

	li li li li a {
		padding-left: @gridFlex_blockSpacing * 3
	}
}
