div.divPopupWindowMovie {
	margin-left: -460px;
    width: 900px;
    height: auto;
    background: #000;
}

div.divPopupWindowMovie div.close {
	position: absolute;
	font-size: 14px;
	line-height: 14px;
	top: -34px;
    right: 0;
	width: 14px;
	color: #fff !important;
	text-align: center;
	background: #000;
}
