*.gp_text table,
*.gp_text p,
*.gp_text ul,
*.gp_text ol,
*.gp_text + *.gp_text {
	margin-top: 1em;
}

*.gp_text ul {
	clear: both;
	padding-left: 0;
}

*.gp_text ul li {
	margin-left: 17px;
	list-style-type: disc;
}

*.gp_text ol {
	clear: both;
}

*.gp_text ol li {
	margin-left: 20px;
	list-style-type: decimal;
}
*+html *.gp_text ol li {
	margin-left: 23px;
}

/* Start headings */
*.gp_text h1 {
	font-size: @h1;
	font-weight: bold;
}

*.gp_text h2 {
	font-size: @h2;
	font-weight: bold;
}

*.gp_text h3 {
	font-size: @h3;
	font-weight: bold;
}

*.gp_text h4 {
	font-size: @h4;
	font-weight: bold;
}

*.gp_text h5 {
	font-size: @h5;
	font-weight: bold;
}

*.gp_text h6 {
	font-size: @h6;
	font-weight: bold;
}

*.gp_text * + h1,
*.gp_text * + h2,
*.gp_text * + h3,
*.gp_text * + h4,
*.gp_text * + h5,
*.gp_text * + h6 {
	margin-top: 1em;
}

*.gp_text h1 + *,
*.gp_text h2 + *,
*.gp_text h3 + *,
*.gp_text h4 + *,
*.gp_text h5 + *,
*.gp_text h6 + * {
	margin-top: 0;
}

*.heading2 em,
*.heading3 em,
*.heading4 em,
*.heading5 em,
*.heading6 em {
	font-weight: bold;
}
/* End headings */

*.gp_text img.Links,
*.gp_text img.links {
	margin: 0 10px 10px 0;
	float: left;
}

*.gp_text img.Rechts,
*.gp_text img.rechts {
	margin: 0 0 10px 10px;
	float: right;
}

*.gp_text *:first-child {
	margin-top: 0;
}

/* Start table */
*.gp_text table th,
*.gp_text table thead * {
	font-weight: bold
}

*.gp_text table caption {
	font-weight: bold;
	padding-bottom: 0.1em;
}

*.gp_text table tfoot {
	font-size: 0.9em;
	font-weight: normal;
}

*.gp_text table tfoot * {
	font-weight: normal;
}

*.gp_text table tr > * {
	padding-left: 20px;
}

*.gp_text table tr > *:first-child {
	padding-left: 0;
}

*.gp_text table td,
*.gp_text table th {
	padding-left: 10px;
}
*.gp_text table td:first-child,
*.gp_text table th:first-child {
	padding-left: 0;
}
/* End table */
