/*
 * Accordion
 *
 * Accordion widget
 */



.gp_accordion {
	dl {
		.gp_rounded_corners(@radius: 3px);
		.gp_gradient((@gp_colorHigh - #111), (@gp_colorHigh - #222));
		border: 1px solid @gp_colorHigh - #444;
	}
	
	dt {
		padding: @gp_gridBlockPadding;
		font-weight: bold;
	}
}



.gp_accordion.gp_accordionJavaScript {
	dt {
		cursor: pointer;
	}
	dt:hover {
		text-decoration: underline;
	}
	dt.gp_active {
		color: @gp_colorHigh;
		@gp_colorActive1: lighten(@gp_color1, 30%);
		@gp_colorActive2: lighten(@gp_color1, 10%);
		.gp_gradient(@gp_colorActive1, @gp_colorActive2);
		.gp_shadow(0, 2px, 2px, darken(@gp_color1, 10%));
	}
}
