/*
 * Styling for a horizontal menu
 */



.gp_menu.gp_menu_typeHorizontal {
	.gp_clear;

	> ul > li {
		float: left;
	}
	
	a {
		.gp_transition(all, 0.5s, ease-out);
		color: #ffffff;
		text-decoration: none;
		padding: @gp_gridBlockSpacing / 4 @gp_gridBlockSpacing / 2;
		background: @gp_colorLow;
	}
	> ul > li > a {
		float: left;
		border-left: 1px solid #ffffff;
	}
	a:hover {
		.gp_transition(all, 0.1s, ease-out);
		background: @gp_colorLow + #444;
	}
	> ul > li:first-child > a {
		border-left-width: 0;
	}
	
	ul {
		display: inline;
	}

	> li {
		display: inline-block;
	}
	
	ul ul {
		display: none;
	}
}
