@navMenuCollapse_height: 28px;
@navMenuCollapse_Width: 200px;
@navMenuCollapse_border: 1px;

.gp_menu.gp_menu_typeHorizontal.gp_menu_typeCollapse {
	li {
		position: relative;
	}
	
	li li {
		display: block;
	}

	li li a {
		display: block;
		float: none;
	}
	
	li li a {
		display: block;
		border-top: @navMenuCollapse_border solid @gp_colorHigh;
	}

	li li:first-child > a {
		border-top-width: 0;
	}

	ul ul {
		width: @navMenuCollapse_Width;
	}
	
	> ul > li > ul {
		position: absolute;
		z-index: 100000;
		top: @navMenuCollapse_height;
	}
	
	li:hover > ul,
	li.gp_hover > ul {
		display: block
	}

	li li:hover > ul,
	li li.gp_hover > ul {
		position: absolute;
		top: @navMenuCollapse_border;
		left: 100%;
		z-index: 100000;
	}
	li li:hover:first-child > ul,
	li li.gp_hover:first-child > ul {
		top: 0;
	}
}
