/*
 * Styling for print
 *
 * Makes a page built upon a grid fit for print.
 */



@media print {
	*.gp_logo {
		position: static;
	}

	div.gp_content {
		border-top-width: 0;
	}
	
	div.gp_header {
		display: none;
	}
}