/*
 * Basic text styling
 */



/* HTML elements */
html {
	color: #000;
	background: #fff;
}

a {
	color: #0000ff;
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: underline;
}

body,
input,
select,
textarea {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: @gp_lineHeight;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	line-height: @gp_lineHeight;
}



/* Helper classes */
a.gp_skipLink,
div.gp_skipped {
	position: absolute;
	left: -9999em;
}

.gp_displayNone {
	display: none;
}

.gp_floatLeft {
	float: left;
}



/* Headings */
.gp_heading1 {
	font-size: 2em;
	line-height: 1.3em;
	font-weight: bold;
}

.gp_heading2 {
	font-size: 1.6em;
	line-height: 1.35em;
	font-weight: bold;
}

.gp_heading3 {
	font-size: 1.2em;
	line-height: 1.45em;
	font-weight: bold;
}

.gp_heading4 {
	font-size: 1em;
	font-weight: bold;
}

.gp_heading5 {
	font-size: 1em;
	font-weight: bold;
}

.gp_heading6 {
	font-size: 1em;
	font-weight: bold;
}



.gp_textAlert {
	border: 2px solid @gp_colorAlert;
	padding: 2px 5px;
	font-weight: bold;
	background: @gp_colorAttention;
}
