/*
 * Basic graphite configuration
 */



/* Values */
@grid_headerHeight:      115px;
@grid_blockSpacing:      20px;
@gp_mobileScreenWidth:   960px;

/* Colors */
@gp_colorHigh:           #fff;
@gp_colorLow:            #000;
@gp_colorAlert:          #f00;
@gp_colorAttention:      #faff97;





@gp_lineHeight:          1.5em;
