/*
 * Basic graphite configuration
 */



@grid_headerHeight:      115px;
@grid_blockSpacing:      20px;
@gp_colorHigh:           #fff;
@gp_colorLow:            #000;
@gp_colorAlert:          #f00;
@gp_colorAttention:      #faff97;