h1.graphite_title {
	clear: both;
	padding: 5px 5px 5px 5px;
	color: #333333;
	font-family: Consolas;
	font-size: 20px;
	font-weight: normal;
	background: #ddd;

	strong {
		margin-right: 0.8em;
		color: #000000;
	}
}


div.gp_header {
	height: auto !important;
}

div.gp_content {
	border-top-width: 0 !important;
}



.graphite_inDevelopment a {
	color: #ff0000;
}
