html {
	background: #f9f9f9;
}



.graphite_title {
	.gp_gradient(#f9f9f9, #e5e5e5);
	clear: both;
	border-bottom: 1px solid #dddddd;
	padding: @gridFlex_blockSpacing / 2;
	color: #333333;
	font-family: Consolas;
	font-size: 16px;
	font-weight: normal;

	strong {
		color: #000000;
		font-size: 24px;
	}
	
	a {
		color: #333333;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}



.gp_content {
	background: #ffffff;
}



.gp_footer {
	border-top: 1px solid #dddddd;
	padding: @gridFlex_blockSpacing / 2;
	.gp_gradient(@gp_colorHigh - #1a1a1a, @gp_colorHigh - #060606);
}



/* Graphite demo */
.graphite_demoStage {
	position: relative;
	margin-bottom: @gridFlex_blockSpacing;
	border: 1px solid #aaa;
	padding: @gridFlex_blockSpacing;
	background: @gp_colorHigh - #111;
	.gp_shadow(0, 0, 5px, #999999);
		
	*.localHeading {
		font-size: @h3;
		font-weight: bold;
	}
}


.graphite_demoStage_menu {
	position: relative;
	top: 1px;
	
	a {
		display: inline-block;
		border: 1px solid #aaa;
		border-bottom-width: 0;
		.rounded_corners_all();
		padding: @gridFlex_blockSpacing/5 @gridFlex_blockSpacing/3;
		color: #333333;
		font-size: 1.2em;
		text-decoration: none;
		background: @gp_colorHigh - #111;
		.gp_shadow(0, 0, 5px, #999999);
		.rounded_corners_all(3px, 3px, 0, 0);
	}
	a:hover {
		color: @gp_colorLow;
		background: @gp_colorHigh;
		.gp_shadow(0, 0, 5px, #333333);
	}
	a + a {
		margin-left: @gridFlex_blockSpacing/10;
	}
	
	a.active {
		color: @gp_colorLow;
		font-weight: bold;
	}
}


.codeBox {
	pre {
		height: 200px;
		overflow: auto;
		background: #F8F8F8;
	}
	
	.preLink {
		float: right;
	}
}



/* Text styling */
.graphite_inDevelopment a {
	color: #ff0000;
}



/* Syntax highlight config */
.syntaxhighlighter .toolbar {
	display: none;	
}