*.graphite_title {
	.gp_gradient(#ffffff, #eeeeee);
	clear: both;
	border-bottom: 1px solid #dddddd;
	padding: 5px 5px 5px 5px;
	color: #333333;
	font-family: Consolas;
	font-size: 20px;
	font-weight: normal;

	strong {
		margin-right: 0.8em;
		color: #000000;
	}
}



*.gp_footer {
	border-top: 1px solid #dddddd;
	padding: @gridFlex_blockSpacing / 2;
	.gp_gradient(#eeeeee, #ffffff);
}



/* Graphite demo */
.graphite_demoStage {
	margin-bottom: @gridFlex_blockSpacing;
	border: 1px solid #aaa;
	padding: @gridFlex_blockSpacing;
	background: #eee;
	.gp_shadow(3px, 3px, 5px, #999999);
}



/* Text styling */
.graphite_inDevelopment a {
	color: #ff0000;
}
